.stage {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.75rem
}

.square {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.t-rotate {
    /* aplicamos la transformaci贸n de rotate en grados */
    /* transform: rotate(00deg) */
    transform: rotate(50deg);
    transform-origin: top right;
}

.t-scale {
    /* aplicamos la transformaci贸n de escala en unidades */
    /* transform: scale(1.0) */
    transform: scale(0.4);
}

.t-skew {
    /* aplicamos la transformaci贸n de Skew en algun eje y en grados */ 
    /* transform: skewX(00deg); */
    transform: skewY(15deg);
}

.t-combo {
    /* aplicamos varias transformaci贸n a la vez */ 
    /* transform: translateY(10px) rotate(-6deg) scale(1.05) */
    transform: scale(0.8) rotate(35deg) skew(15deg);
}

.t-perspective{
  position: relative;
  perspective: 120px;
}

.item-perspective{
    width: 120px;
  height: 120px;
  background-color: #702279;
  color: #ffeefd;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
    transform-style: preserve-3d;
    transform: rotateY(45deg); */
}

pre {
    background: #231025;
    color: #ffeefd;
    padding: 0.75rem;
    border-radius: 6px;
    overflow: auto
}